body {
    background-color:#f9eddf;
    font-family: Poppins;
}

@font-face {
    font-family: "BrandonText";
    src: url("fonts/BrandonText-Bold.otf") format("opentype");

}

.titlebanner {
    font-family: "BrandonText";
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    justify-content: center;
    text-align: center;
    padding: 150px;
}

#bannerprincipal {
    justify-content: center;
    background-color: #d6bca0;
    width: auto;
    height: 400px;
}

.title1 {
    font-family: "BrandonText";
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    color: #be6c3c;
    font-size: 32px;
}


#bloco1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

#videoorimage{
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#foto {
    border-radius: 10px;
}

#content1{
    margin-top: 50px;
    margin-left: 0px;
}

#n1stick {
    font-family: "BrandonText";
    letter-spacing: 2px;
    font-weight: bold;
    background-color:#be6c3c;
    justify-content: center;
    text-align: center;
    padding: 2px;

    font-size: 24px;
}

.title2{
    font-family: "BrandonText";
    letter-spacing: 2px;
    font-weight: bold;
    color: #be6c3c;
    font-size: 22px;
}

.text {
    font-family: "BrandonText";
    letter-spacing: 2px;
    font-weight: 600;
    color: #575757;
    font-size: 15px;
    line-height: 24px;
}

.text2 {
    font-family: "BrandonText";
    letter-spacing: 2px;
    font-weight: 600;
    color: #575757;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}