body {
    background-color:#f9eddf;
    font-family: Poppins;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

/* mobile */
@media only screen and (max-width: 500px) {
    body {
        .title1 {
            font-size: 22px;
            margin-top: 20px;
            margin-left: 15px;
            margin-right: 15px;
        }
        #foto {
            width: 50%;
            justify-content: center;
        }
        #bloco1 {   
            flex-direction: column;
            justify-content: center;
        }
        #content1 {
            justify-content: center;
            margin-top: 20px;
        }
        #Emdezembro {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 15px;
            margin-right: 15px;
        }
        #imagemdezembro {
            width: 50%;
        }
        .title2 {
            font-size: 16px;
        }
        .textdezembro {
            font-size: 12px;
            text-align: center;
            text-wrap: nowrap;
            padding-left: 0px;
            margin-left: 15px;
            margin-right: 15px;
        }
        #n1stick {
            font-size: 16px;
        }
        #content2 {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 0px;
        }
        #beneficios {
            flex-direction: row;
            margin-bottom: 10px;
            justify-content: left;
        }
        .text3{
            font-size: 12px;
            text-align: left;
            padding-left: 10px;
            padding-top: 0px;
            justify-items: center;
            align-items: center;
            text-wrap: nowrap;
        }
        .text2 {
            font-size: 15px;
            margin-left: 15px;
            margin-right: 15px;
        }
        #fotoscores {
            flex-direction: column;
        }
        #fotoscorestextobranco.image,.overlay4,.overlay5,.overlay6{
            display: none;
        }
        #fotoscorestextocinza.image,.overlay1,.overlay2,.overlay3{
            display: none;
        }
        .title3 {
            font-size: 16px;
            margin-left: 15px;
            margin-right: 15px;
        }
        .title4{
            font-size: 22px;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
        }
        .videomobile {
            width: 360px;
            height: 240px;
        }
        #logoadcos{
            width:50px;
        }
        #logo {
            font-size: 12px;
        }
    }
}
/* mobile */

/* fonte e seus pesos */
@font-face {
    font-family: "BrandonTextBold";
    src: url("fonts/BrandonText-Bold.otf" ) format("opentype");

}
@font-face {
    font-family: "BrandonTextBlack";
    src: url("fonts/BrandonText-Black.otf" ) format("opentype");

}
@font-face {
    font-family: "BrandonTextLight";
    src: url("fonts/BrandonText-Light.otf" ) format("opentype");

}
@font-face {
    font-family: "BrandonTextMedium";
    src: url("fonts/BrandonText-Medium.otf" ) format("opentype");

}
@font-face {
    font-family: "BrandonTextRegular";
    src: url("fonts/BrandonText-Regular.otf" ) format("opentype");

}
@font-face {
    font-family: "BrandonTextThin";
    src: url("fonts/BrandonText-Thin.otf" ) format("opentype");

}
/* fonte e seus pesos */

/* hover fotos cores */
.container {
    position: relative;
    width: 100%;
    margin: 10px;
}
  
.image {
    display:flex;
    width: 100%;
    height: auto;
    border-radius: 10px;
}
  
.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url(images/hover-ivory.png);
    border-radius: 10px;
}
  
.container:hover .overlay1 {
    opacity: 1;
}

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url(images/hover-peach.png);
    border-radius: 10px;
}
  
.container:hover .overlay2 {
    opacity: 1;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url(images/hover-nude.png);
    border-radius: 10px;
}
  
.container:hover .overlay3 {
    opacity: 1;
}

.overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url(images/hover-beige.png);
    border-radius: 10px;
}
  
.container:hover .overlay4 {
    opacity: 1;
}

.overlay5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url(images/hover-bronze.png);
    border-radius: 10px;
}
  
.container:hover .overlay5 {
    opacity: 1;
}

.overlay6 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: url(images/hover-pecan.png);
    border-radius: 10px;
}
  
.container:hover .overlay6 {
    opacity: 1;
}
  
.texto {
    font-size: 20px;
    letter-spacing: 2px;
    font-size: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
/* hover fotos cores */

/* primeira dobra */
#bannerprincipal {
    justify-content: center;
    width: auto;
}
.title1 {
    font-family: "BrandonTextBlack";
    letter-spacing: 2px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    color: #be6c3c;
    font-size: 32px;
}

#bloco1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
}

#foto {
    border-radius: 10px;
}

#Emdezembro {
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: #f0dfcd;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

.title2{
  font-family: "BrandonTextBlack";
  letter-spacing: 2px;
  color: #be6c3c;
  font-size: 20px;
  padding: 20px;
}

.textdezembro {
  font-family: "BrandonTextMedium";
  letter-spacing: 2px;
  color: #575757;
  font-size: 15px;
  line-height: 24px;
  padding-left: 20px;
  padding-top: 30px;
}

#content1{
    margin-top: 0px;
    margin-left: 0px;
}

#n1stick {
    font-family: "BrandonTextBlack";
    letter-spacing: 2px;
    background-color:#be6c3c;
    justify-content: center;
    text-align: center;
    padding: 15px;
    font-size: 24px;
}
/* primeira dobra */

/* segunda dobra */
#bloco2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.text2 {
  font-family: "BrandonTextMedium";
  letter-spacing: 2px;
  color: #575757;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

#fotoscores {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin-bottom: 20px;
}

#fotoscorestextocinza {
    font-family: "BrandonTextBlack";
    color: #575757;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

#fotoscorestextobranco {
    font-family: "BrandonTextBlack";
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.title3 {
  font-family: "BrandonTextBlack";
  text-align: center;
  letter-spacing: 2px;
  color: #be6c3c;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 22px;
}

#content2{
  display: flex;
  justify-content: center;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
}

#beneficios {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #f0dfcd;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.text3 {
  font-family: "BrandonTextMedium";
  letter-spacing: 2px;
  text-align: center;
  color: #575757;
  font-size: 15px;
  line-height: 24px;
  padding-top: 10px;
}

a {
  font-family: "BrandonTextBold";
  letter-spacing: 2px;
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  background-color: #be6c3c;
  border-radius: 4px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
}
/* segunda dobra */

/* bloco vídeo */
#bloco3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    background-color: #be6c3c;
    border-radius: 10px;
}

.title4 {
  font-family: "BrandonTextBlack";
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 32px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#logoadcostexto{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#logo {
    font-family: "BrandonTextBlack";
    letter-spacing: 2px;
    color: #ffffff;
    padding-left: 20px;
}
/* bloco vídeo */

/* disclaimer */
#disclaimer {
    font-family: "BrandonTextRegular";
    letter-spacing: 2px;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    padding: 15px;
}
/* disclaimer */